<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="BusCompanyDbContext" connectionString="Data Source=DESKTOP-SJ17PE6\SQLEXPRESS;Initial Catalog=BusStation;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <!-- Other configuration settings... -->
	<appSettings>
		<!--The license context used-->
		<add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
	</appSettings>
</configuration>
